body{
    max-width: 1062px;
    width: 100%;
    
    background: url('./img/background.png') no-repeat;
    height: 100%;
    color: #fff;
}
.logo{
    background-color: #6E4422;
}
.header{
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    
}
.menu{
    display: flex;
    justify-content: space-evenly;
}
.button{
    all:unset;
    padding: 22px 55px;
    background: #f6762c;
    border-radius: 5px;
    color:#fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    
    
}


.menu-item a{
    text-decoration: none;
    color:white;
}