body{
    max-width: 1280px;
    width: 100%;
    
    background: url('./img/background.png') no-repeat;
    height: 100%;
    color: #fff;
}
.logo{
    background-color: #6E4422;
}

.menu{
    display: flex;
    justify-content: space-around;
}
.head{
    display: flex;
    justify-content: space-around;

}

.main-text{
    margin-left: 28px;
    
}
.menu-main{
    font-size: 25px;
    width: 100%;

}
li:not(last-child){
    margin-right: 30px;
}
.menu-item{
    list-style-type: none;
}
.menu-item a{
    text-decoration: none;
    color:white;
   
}







.button{
    all:unset;
    padding: 22px 55px;
    background: #f6762c;
    border-radius: 50px;
    color:#fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 50px;

    margin-top: 50px;
}
